/*
CSS BOX MODEL
PADDING
MARGIN
BORDER */

/* * {
  margin: 0; 
} */

/* h1 {
  background: red;
  padding: 20px;
  border: 5px solid black;
  border-radius: 20px;
}
p {
  background: blue;
  padding: 50px;
  border: 13px solid purple;
  border-radius: 50%;
  /* margin: -100px; 
}
.buttons {
  margin: 3rem;
}
a {
  background: salmon;
  text-decoration: none;
  padding: 1rem 2rem;
  color: rgb(77, 77, 0);
  text-transform: uppercase;
  cursor: pointer;
  margin: 0px 20px;
}
#one {
  border: 0.2rem solid #420;
}
#two {
  outline-width: 0.2rem;
  outline-style: solid;
  outline-color: #420;
  outline-offset: 10px;
  outline-offset: -10px;
} */

/* Display properties */
/* Horizontal Centering */
body {
  text-align: center;
}

.block {
  background: blue;
  color: white;
  width: 150px;
  margin: 20px auto;
  /* margin-left: auto;*/
  /*margin-right: auto;*/
}
.inline {
  background: red;
  color: black;
}
